body, p, h1, h2, h3, header, main,
footer, nav, a, li, ul, img {
    transition: all 0.5s;
    overflow-y: hidden;
}

body, h1, p {
    margin: 0;
    padding: 0;
    font-family: Consolas, monospace;
    color: #00ff00;
}

body {
    background-color: #000000;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    position: fixed;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

main {
    margin-top: 88px;
    margin-left: 150px;
    padding: 0px 10px;
    padding-right: 160px;
}

footer {
    margin-top: auto;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 2px;
    padding-top: 30px;
}

.row {
    display: flex;
}

.center-container {
    align-items: center;
    justify-content: center;
}

.length-25vh {
    min-height: 25vh;
    max-height: 25vh;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
}

.column-container {
    flex: 50%;
}

.title {
    margin-top: 25vh;
    font-size: 128px;
    font-weight: bold;
    margin-bottom: 5px;
}

.subtitle {
    font-size: 48px;
}

.logo {
    font-size: 58px;
}

.arrow {
    text-align: center;
    font-size: 48px;
    color: #00ff00;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 35px;
    margin-right: 35px;
}

.convolution-image {
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    display: block;
    margin-left: 1px;
    margin-right: 1px;
    max-height: 17vh;
    max-width: 100%;
}

.about-image {
    display: block;
    margin-top: 5px;
    margin-left: auto;
    padding-right: 30px;
    max-width: 100%;
    max-height: 75vh;
}

.divider {
    margin-top: 50px;
    margin-bottom: 50px;
    border-bottom: 1px solid #00ff00;
}

.vertical-space {
    margin-left: 25px;
    margin-right: 25px;
}

nav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 54px;
}

nav a {
    color: #00ff00;
    font-weight: bold;
    text-decoration: none;
}

h1 {
    font-size: 48px;
}

a, h2, h3 {
    color: #00ff00;
}

ul {
    list-style-type: none;
    padding: 20px;
    color: #00ff00;
}

li {
    position: relative;
    padding-right: 4px;
    padding-bottom: 10px;
}

li.folder::after {
    content: "/";
    position: absolute;
    left: 75px;
    color: #00ff00;
}

a:hover,
li:hover a,
li.folder a:hover::after,
li.folder:hover::after {
    color: #ffffff;
}

li.current a, 
li.folder.current::after,
li.current:hover a,
li.folder.current a:hover::after,
li.current:hover::after,
.hacker-selected {
    text-decoration: underline;
}

li.current:hover a,
li.folder.current a:hover::after,
li.current:hover::after {
    color: #ff0000;
}

.mobile {
    display: none;
}

.single-title {
    display: none;
}

/* Condensed Desktop/Large iPad: */
@media screen and (max-width: 1174px) {

    .double-title {
        display: none;
    }

    .single-title {
        display: block;
    }

    body {
        overflow-y: scroll;
    }

    main {
        padding-right: 60px;
    }

    footer {
        padding-left: 160px;
    }

    .title-container {
        min-height: 0vh;
        margin-top: 20px;
        padding-left: 0px;
        padding-right: 100px;
    }

    .title {
        margin-top: 10vh;
        display: grid;
        text-align: center;
        margin-bottom: 10px;
    }

    .word {
        font-size: 128px;
    }

    .subtitle {
        font-size: 32px;
    }

    .about-image {
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 15px;
        margin-left: auto;
        padding-right: 0px;
        max-width: 100%;
        max-height: 70vh;
    }

    .arrow {
        font-size: 36px;
        margin-left: 15px;
        margin-right: 15px;
    }

}

/* Mobile: */
@media only screen and (max-width: 768px) {

    body, header, main, footer, nav, ul, li, a {
        transition: none;
    }

    body {
        overflow-x: hidden;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    header {
        width: 100%;
        background-color: #000000;
        padding-top: 10px;
        padding-left: 10px;
        padding-bottom: 3px;
        z-index: 1;
    }

    header.show {
        border-bottom: 0px;
    }

    main {
        margin-top: 75px;
        margin-left: 0px;
        padding: 0px 0px;
        padding-right: 0px;
    }

    footer {
        transition: none;
        text-align: center;
        overflow-y: show;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 5px;
    }

    p {
        margin-left: 15px;
        margin-right: 15px;
    }

    p.caption {
        margin-top: 5px;
    }

    h1 {
        margin-top: 10px;
        text-align: center;
    }

    h2 {
        margin-left: 15px;
        margin-bottom: 5px;
    }

    h3 {
        margin-left: 20px;
    }

    h3.h2clone {
        color: #00ff00;
    }

    nav {
        display: none;
        position: fixed;
        height: 100%;
        width: 67%;
        padding-top: 0px;
        margin-top: 67px;
        margin-bottom: 58px;
        background-color: #000000;
    }

    nav.show {
        display: block !important;
    }

    ul {
        margin-top: 0px;
    }

    nav a, ul {
        color: #00ff00;
        font-size: 20px;
    }

    li.folder::after {
        font-size: 20px;
        position: absolute;
        left: 100px;
        color: #00ff00;
    }

    #border {
        display: none;
    }

    #border.show {
        display: block;
        z-index: 1;
        border-right: 1px solid #00ff00;
        height: 100%;
        position: fixed;
        left: calc(67% - 1px);
    }

    .title-container {
        padding-right: 0px;
    }

    .word {
        font-size: 96px;
    }

    .subtitle {
        font-size: 28px;
    }

    .row {
        margin-left: 15px;
        margin-right: 15px;
    }

    .divider {
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .about-image {
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 15px;
        margin-left: auto;
        max-width: 100%;
        max-height: 75vh;
    }

    .arrow {
        margin-left: 10px;
        margin-right: 10px;
    }

    button {
        padding-left: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-right: 0px;
        background-color: transparent;
        border: none;
        appearance: none;
        z-index: 1;
    }

    .hamburgerlight {
        display: none;
    }

    .hamburgerdark {
        display: none;
    }

    .hamburgerhacker {
        max-height: 48px;
        max-width: 100%;
    }

}

/* Really Small Mobile (my phone): */
@media screen and (max-width: 320px) {

    .word {
        font-size: 64px;
    }

    .subtitle {
        font-size: 24px;
    }

    .hamburgerhacker {
        max-height: 32px;
    }

    header.show {
        background-image: linear-gradient(to right, #ffffff calc(67% - 7px), rgba(0,0,0,0) 20%);
    }

    footer {
        margin-bottom: 30px;
    }

    h1, h2 {
        margin-left: 15px;
        margin-right: 15px;
    }

    h3 {
        font-size: 16px;
    }

    nav {
        margin-top: 51px;
    }
    
}